*{
    font-family:"Microsoft Yahei";
    font-size:15px;
}
.layoutContainer{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height:100vh;
}
.contentContainer-contentBox{
    height:100%;
    padding: 24px;
    background: #fff
}
.headerContainer{
    height:10vh;
}
/* header-menu and ant-menu-item are CSS classes from ant-design framework*/
.header-menu{
    height:100%; /* let the menu fill up the whole headerContainer*/
}
.header-menu li {
    display: flex !important; /*Override the style of menu item*/
    justify-content: center;
    align-items: center;
}
.contentContainer{
    padding:0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerContainer{
    z-index: 1000;
}